{%  extends 'layout.html'   %}


{%  block body   %}
<div class="jumbotron">
        <h1>About me...</h1>
        <p>
            My name is <strong>Gaurav Gireesh</strong>! I am an enthusiast when it comes to learning new technologies! I love Rest api development and resting too! If you know the difference! :P
            <strong>GO BONKERS!!</strong>


        </p>
        <p> This app uses Flask framework and the following few extension as Flask is a micro framework:

            <ul class="list-group">

                <li class="group-item">Flask</li>
                <li class="group-item">MySQL server</li>
                <li class="group-item">MySQL Workbench</li>
                <li class="group-item">Passlib</li>
                <li class="group-item">Flask-WTF</li>
                <li class="group-item">CKEditor</li> 

            </ul>

            Well hope you enjoy creating, editing and deleting articles.... HAPPY LEARNING!


        </p>

</div>


{%  endblock   %}