<nav class="navbar navbar-default" style="margin-top:2%;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Gaurav's App</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Articles</a></li>
           
          </ul>
          <ul class="nav navbar-nav navbar-right">

              

              {% if session.logged_in %}
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/logout">Logout</a></li>
              {%  else %}
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
              {% endif%}
             
             
            </ul>
        </div>
      </nav>