{%    extends 'layout.html'    %}
        {%block body%}

        <div class="jumbotron" style="text-align:center">
                <h1>Welcome to Gaurav Gireesh's First App</h1>

                    <p class="lead" style="text-align:center">
                            My name is Gaurav Gireesh. I am an enthusiast of building Restful Web Apps.<br/>
                            They have a Front end and a back end.<br/>
                            I like building things bottom-up!
                            <br/>
                            Now C'mon play alongside me! Go knock yourselves out! GO BONKERS!!!!



                    </p>
        </div>
    
        {%endblock%}